<main>
    <h1>Attach a new cube</h1>
    <div class="form">
        <h2>{{accessory.name}}</h2>
        <img class="cube" src="{{accessory.imageURL}}" alt="{{accessory.name}}">
        {{#if cubes}}
            <form action='/attach-cube/{{accessory._id}}' method="post">
                <label for="accessory">Accessories</label>
                <select id="accessory" name="cube">
                    {{#each cubes}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="Attach">
            </form>
        {{else}}
            <h3 class="italic">This accessory is attached to all cubes</h3>
        {{/if}}
        <a class="btn" href="/all-accessory">Back</a>
    </div>
</main>
