<main>
    <h1>Create Accessory</h1>
    <div class="form">
        <form {{#if edit}}action='/edit-accessory/{{accessory._id}}' {{else}}action='/create-accessory'{{/if}} method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" {{#if edit}}value="{{accessory.name}}" {{/if}}>
            <label for="name">Description</label>
            <textarea id="name" name="description">{{#if edit}}{{accessory.name}}{{/if}}</textarea>
            <label for="image">ImageURL</label>
            <input type="text" id="image" name="imageURL" {{#if edit}}value="{{accessory.imageURL}}" {{/if}}>
            <input type="submit" {{#if edit}}value="Edit" {{else}}value="Create"{{/if}}>
        </form>
    </div>
</main>
