<main>
    <h1>Browser</h1>
    <form action="/" method="post">
        <label><input type="text" class="search" name="search" placeholder="Search..." value="{{search}}"></label>
        <label><input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value="{{from}}"></label>
        <span>-</span>
        <label><input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{to}}"></label>
        <input type="submit" value="search">
    </form>
    {{#each cubes}}
        <div class="cube">
            <img class="cube" src="{{imageURL}}" alt="{{name}}">
            <p class="name">{{name}}</p>
            <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
            <a class="btn" href="/details-cube/{{_id}}">Details</a>
        </div>
    {{/each}}
</main>
