<div class="container">

    <section class="details">
        <h1>{{trip.title}}</h1>
        <div>
            <img src="{{trip.imageURL}}" alt="{{trip.title}}"/>
        </div>
    </section>

    <section class="details">
        <h3>Theater Description</h3>
        <p>{{trip.description}}</p>
        {{#if isLogged}}
            <div class="buttons">
                {{#if isCreator}}
                    <a class="btn delete" href="/trip/delete/{{trip._id}}">Delete</a>
                    <a class="btn edit" href="/trip/edit/{{trip._id}}">Edit</a>
                {{else}}
                    {{#if isLiked}}
                        <span class="liked">You have already liked this trip!</span>
                    {{else}}
                        <a class="btn like" href="/trip/like/{{trip._id}}">Like</a>
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
    </section>
</div>
