{{#each expenses}}
    <table class="expenses">
        <thead>
        <tr>
            <th>Date</th>
            <th>Merchant</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
        </tr>

        </thead>
    <tbody>
    <tr>
        <td>
            <img src="/images/date.png" alt="date"/>
            <p>{{dateFixed createdAt}}</p>
        </td>
        <td>
            <p>Shoes</p>
            {{#if report}}
                <div class="report">
                    <a href="/details/{{_id}}">Report</a>
                </div>
            {{/if}}
        </td>
        <td>
            <img src="/images/amount.png" alt="amount">
            <p>{{total}}</p>
        </td>
        <td>
            <img src="/images/category.png" alt="category">
            <p>{{category}}</p>
        </td>
        <td>
            <img src="/images/hastag.png" alt="hashtag">
            <p>{{description}}</p>
        </td>
    </tr>
{{/each}}
</tbody>
</table>
