<ul>
    {{#each users}}
        <li><a href="/user/{{@index}}">{{name}} - {{age}}</a></li>
    {{/each}}
</ul>

<form {{#if selectedUser}}action="/user/{{selectedUserIndex}}" {{else}}action="/user"{{/if}} method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" {{#if selectedUser}}value="{{selectedUser.name}}"{{/if}}>
    </div>
    <br>
    <div>
        <label for="age">Age</label>
        <input type="number" name="age" id="age" {{#if selectedUser}}value="{{selectedUser.age}}"{{/if}}>
    </div>
    <button>Save</button>
</form>
